<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
	<script src="../../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/jquery-3.4.1.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
	mui.init()
	</script>
</head>
<body>
	
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">账号信息</h1>
		
	</header>
	
	<div class="mui-content" id="app">
		<div class="mui-card">
			
		<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right" style="">
						头像
						<span class="mui-pull-right head">
							<img class="head-img mui-action-preview" height="100rem" src="../../img/1-1.png"/>
						</span>
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a >
						 账号id
						 <span class="mui-pull-right">{{data.id}}</span>
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a >
						 用户名
						 <span class="mui-pull-right">{{data.username}}</span>
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a >
						 电话号码
						 <span class="mui-pull-right">{{data.phonenumber}}</span>
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a  >
						 订单数
						 <span class="mui-pull-right" v-if="data.credibility">{{data.credibility.ordersum}}</span>
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a >
						 信誉度
						 <span class="mui-pull-right"  v-if="data.credibility">{{data.credibility.credibility*100}}%</span>
					</a>
				</li>
				
			</ul>
		</div>
		
		<div class="mui-card">
			<div class="mui-card-content">
				<ul class="mui-table-view">
						<li class="mui-table-view-cell">
							<a>
								用户姓名
								<span class="mui-pull-right" v-if="data.message">{{data.message.name}}</span>
							</a>
						</li>
						<li class="mui-table-view-cell">
							<a>
								身份证号
								<span class="mui-pull-right" v-if="data.message">{{data.message.idCard}}</span>
							</a>
						</li>
						<li class="mui-table-view-cell">
							<a>
								性别
								<span class="mui-pull-right">{{gender.name}}</span>
							</a>
						</li>
						<li class="mui-table-view-cell">
							<a>
								地址
								<span class="mui-pull-right"  v-if="data.message">{{data.message.address}}</span>
							</a>
						</li>
						<li class="mui-table-view-cell">
							<a>
								工作
								<span class="mui-pull-right"  v-if="data.message">{{data.message.job}}</span>
							</a>
						</li>
					</ul>
			</div>
		</div>
		<div class="mui-card">
			<div class="mui-card-content">
				<ul class="mui-table-view">
						<li class="mui-table-view-cell">
							<a class="mui-navigate-right" href="setuser.html" >
								修改账号信息
							</a>
						</li>
						<li class="mui-table-view-cell">
							<a class="mui-navigate-right" href="setpassword.html">
								 修改密码
							</a>
						</li>
					</ul>
			</div>
		</div>
	</div>
	
	<script src="../../js/axios.min.js"></script>
	<script type="text/javascript">
	var vm = new Vue({
		el:"#app",
		data:{
	        data:{},
			gender:{}
	    },
		created(){
	    	 axios.get("http://myzuul.com:9500/member/findbyid")
			.then(res=>{
				this.data=res.data;
			this.gender=res.data.message.gender
				console.info(res.data)
			}) 
	    }
		
	})
	
	</script>
</body>
</html>