<!doctype html>
<html lang="en">
<head>
	<title>投诉管理</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/vendor/linearicons/style.css">
	<link rel="stylesheet" href="assets/css/main.css">
	<link rel="stylesheet" href="assets/css/demo.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
</head>
<style type="text/css">
	th{
		height: 46px;
		line-height: 46px!important;
		background-color: pink;
		border-color: pink!important;
		text-align: center;
		padding: 0!important;
	}
	td{
		height: 46px;
		line-height: 46px!important;
		text-align: center;
		padding: 0!important;
	}
	.type{
		background-color: pink;		
	}
	.modal-body th{
		height: 38px;
		line-height: 38px!important;
		background-color: lightskyblue;
		border-color: lightskyblue!important;
		text-align: center;
		padding: 0!important;
	}
	.modal-body td{
		height: 38px;
		line-height: 38px!important;
		text-align: center;
		padding: 0!important;
	}
</style>
<body>
	<div id="wrapper">
		<nav class="navbar navbar-default navbar-fixed-top" id="toping"></nav>
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav" >
						<li><a href="index.html" class=""><i class="lnr lnr-home"></i> <span>共享车位主页</span></a></li>
						<li v-if="shabi==2"><a href="log.html" class=""><i class="lnr lnr-file-empty"></i> <span>日志管理</span></a></li>
						
						<li><a href="order.html" class=""><i class="lnr lnr-map"></i> <span>订单中心</span></a></li>
						<li><a href="car.html" class=""><i class="lnr lnr-map-marker"></i> <span>车位信息</span></a></li>
						<li><a href="member.html" class=""><i class="lnr lnr-users"></i> <span>用户管理</span></a></li>
						<li><a href="message.html" class=""><i class="lnr lnr-bookmark"></i> <span>用户车位审核</span></a></li>
						<li><a href="money.html" class=""><i class="lnr lnr-linearicons"></i> <span>财务统计</span></a></li>
						<li><a href="complain.html" class="active"><i class="lnr lnr-chart-bars"></i> <span>投诉管理</span></a></li>
						<li><a href="user-change.html" class=""><i class="lnr lnr-user"></i> <span>个人信息管理</span></a></li>
						<li v-if="shabi==2"><a href="authority.html" class=""><i class="lnr lnr-cog"></i><span>操作权限管理</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="main" id="app">
			<div class="main-content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-2">
							<div class="panel" style="height: 630px;">
								<div class="panel-heading">
									<h3 class="panel-title">投诉处理</h3>
								</div>
								<div class="panel-body">
									<div class="sidebar-scroll">
										<nav>
											<ul class="nav" id="change">
											<li><a href="#" id="li3" class="type"><i class="lnr lnr-users"></i><span @click="today()"> &nbsp;今日投诉</span></a></li>
							
					 <!--  默  认  显  示   待处理的投诉   --><li><a href="#" id="li1" class=""><i class="lnr lnr-bullhorn"></i><span @click="wei()"> &nbsp;未处理</span></a></li>
												<li><a href="#" id="li2" class=""><i class="lnr lnr-bubble"></i><span @click="yi()"> &nbsp;已处理</span></a></li>
																
												</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-10">
							<div class="panel" style="height: 630px; padding: 90px 80px 0;">
								<div class="panel-body no-padding" >
									<table class="table table-bordered">
										<thead>
											<tr>
												<th style="width: 60px;">序号</th>
												<th>投诉方</th>
												<th>被投诉方</th>
												<th>投诉时间</th>
												<th id="res">操作</th>
											</tr>
										</thead>
										<tbody v-for="(value,index) in complaint.list">
											<tr>
												<td>{{index+1}}</td>
												<td>{{value.mem_j_id.username}}</td>
												<td>{{value.mem_y_id.username}}</td>
												<td>{{value.comtime}}</td>
												<td  v-if="value.status.id==12"><button class="btn btn-primary" data-toggle="modal" data-target="#myModal" @click="shouli(value.id)" >受 理</button>
												<td class="ch" v-if="value.status.id==13">{{value.type.name}}</td>
											</tr>
										</tbody>
									</table>
									<nav style="margin-left:700px; margin-top: 40px;">
									    <ul class="pagination" >
										    <li><a href="#" @click="shangPage()">上一页</a></li>
										    <li><a href="#">{{complaint.page}}/{{complaint.totalPage}}</a></li>
										    <li><a href="#" @click="xiaPage()">下一页</a></li>
									    </ul>
									</nav>
								</div>
							</div>
						</div>
			<!--模态框-->	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
						    <div class="modal-content">
						        <div class="modal-header">
						        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        	<h4 class="modal-title" id="myModalLabel">用户投诉审核</h4>
						      	</div>
						      	<div class="modal-body">
				<!--模态框中的内容-->	<h4>事件记录</h4>
						        	<table class="table table-bordered">
						        		<thead>
						        			<tr>
						        				<th>车位小区地址</th>
						        				<th>车位编号</th>
						        				<th>租赁开始时间</th>
						        				<th>租赁结束时间</th>
						        			</tr>
						        		</thead>
						        		<tbody>
						        			<tr>
						        				<td>{{compl.address}}</td>
					        			        <td>{{compl.carportnumber}}</td>
						        				<td>{{compl.begintime}}</td> 
 						        				<td>{{compl.endtime}}</td> 
						        			</tr>
						        		</tbody>
						        	</table>	
						        	
									    <div class="btn-group">
										  	<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: lightskyblue;margin-left: 410px;font-weight: 600;">
											 	&nbsp;&nbsp; &nbsp;&nbsp;投 诉 凭 证  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="caret"></span>
										  	</button>
										  	<ul class="dropdown-menu no-padding" style="margin-left: 480px;">
										    	<div class="panel-body no-padding bg-primary text-center" style="height: 260px; width: 360px;">
							<!--显示投诉凭证图片的位置--><img :src="img" style="height: 100%;width: 100%;"/>
												</div>
										  	</ul>
										</div>
									
						        	<h4>投诉方</h4>
						        	<table class="table table-bordered">
						        		<thead>
						        			<tr>
						        				<th>用户名</th>
						        				<th>真实姓名</th>
						        				<th>身份证号</th>
						        				<th>职业</th>
						        				<th>联系电话</th>
						        				<th>信誉度</th>
						        			</tr>
						        		</thead>
						        		<tbody>
						        			<tr>
						        				<td>{{complaintbean1.username}}</td>
						        				<td>{{message1.name}}</td>
						        				<td>{{message1.idCard}}</td>
						        				<td>{{message1.job}}</td>
						        				<td>{{complaintbean1.phonenumber}}</td>
						        				<td>{{credibility1.credibility}}</td>
						        			</tr>
						        			<tr>
						        				<th>投诉理由 :</th>
						        				<td colspan="5">{{mess.message}}</td>
						        			</tr>
						        		</tbody>
						        	</table>	
						        	<h4>被投诉方</h4>
						        	<table class="table table-bordered">
						        		<thead>
						        			<tr>
						        				<th>用户名</th>
						        				<th>真实姓名</th>
						        				<th>身份证号</th>
						        				<th>职业</th>
						        				<th>联系电话</th>
						        				<th>信誉度</th>
						        			</tr>
						        		</thead>
						        		<tbody>
						        			<tr>
 						        				<td>{{complaintbean2.username}}</td>
						        				<td>{{message2.name}}</td>
						        				<td>{{message2.idCard}}</td>
						        				<td>{{message2.job}}</td>
						        				<td>{{complaintbean2.phonenumber}}</td>
						        				<td>{{credibility2.credibility}}</td>
						        			</tr>
						        		</tbody>
						        	</table>	
						      	</div>
						      	<div class="modal-footer">
						        	<button type="button" class="btn btn-danger" @click="success()">投诉成功</button>
						        	<button type="button" class="btn btn-danger" @click="fail()">投诉失败</button>
						      	</div>
						    </div>
						</div>
					</div>	
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">Copyright &copy; 2017.Company name All rights reserved.More Templates </p>
			</div>
		</footer>
	</div>
	<script src="assets/vendor/jquery/jquery.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="assets/scripts/klorofil-common.js"></script>
	<script src="assets/js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="assets/js/axios.min.js" type="text/javascript" charset="utf-8"></script>
	
	<script>
		/*加载公共页面*/
		$(function(){
			$("#toping").load("top.html");
		})
		$("#li1").click(function(){
			$("#li1").css("background-color","");
			$("#li2").css("background-color","white");
			$("#li3").css("background-color","white");
		})
		$("#li2").click(function(){
			$("#li2").css("background-color","pink");
			$("#li1").css("background-color","white");
			$("#li3").css("background-color","white");
		})
		$("#li3").click(function(){
			$("#li2").css("background-color","white");
			$("#li1").css("background-color","white");
			$("#li3").css("background-color","pink");
		})
// 		***********************前后端交互******************************
// 		url:"http://myzuul.com:9500/complaint/complaint/12/1/2",
//      网页初始页面
	    var vm = new Vue({
	    	el:"#wrapper",
	    	data:{
	    		complaint:[],
	    		compl:"",
	    		complaintbean1:"",
	    		complaintbean2:"",
	    		message1:"",
	    		message2:"",
	    		credibility1:"",
	    		credibility2:"",
	    		comid:"",
	    		mess:"",
	    		sta:"",
	    		img:"",   
	    		shabi:{}
	    	},
	    	
	    	created(){
	    		var now = getNowFormatDate();
     		   var tommory = getTomFormatDate();
     		   axios.get("http://myzuul.com:9500/complaint/complaint/"+now+"/"+tommory+"/1/4")
     		   .then(res=>{
     			  this.complaint=res.data;
     			  
//      			 this.s=res.data.list[0].status.id;
     			 
	    		}),
	    		axios.post("http://myzuul.com:9500/user/user/username").then(res=>{
					this.shabi=res.data.authority.id;

				})
	    	},
	    	
	    	methods:{
//	          上一页
	            shangPage:function(){
	 	    		var page = this.complaint.page-1;
	 	    		var totalPage = this.complaint.totalPage;
	 	    		var list = this.complaint.list;
	 	    		var status =list[0].status.id;
// 	 	    		for(var i=0;i<list.size;i++){
// 	 	    			status = list[i].status;
// 	 	    		}
	 	    		if(page==0){
	 	    			alert("这已是首页")
	 	    		}else{
	 	    			axios.get("http://myzuul.com:9500/complaint/complaint/"+status+"/"+page+"/4")
	 		    		.then(res=>{
	 		    			this.complaint=res.data;
	 		    		});
	 	    		}	    		
	 	    	},
//	       下一页
	 	    	xiaPage:function(){
	 	    		var page = this.complaint.page+1;
	 	    		var totalPage = this.complaint.totalPage;
	 	    		var list = this.complaint.list;
	 	    		var status =list[0].status.id;
// 	 	    		for(var i=0;i<list.size;i++){
// 	 	    			status = list[i].status;
// 	 	    		}
	 	    		if(page>totalPage){
	 	    			alert("这已是末页")
	 	    		}else{
	 	    			axios.get("http://myzuul.com:9500/complaint/complaint/"+status+"/"+page+"/4")
	 		    		.then(res=>{
	 		    			this.complaint=res.data;
	 		    		});
	 	    		}	    		
	 	    	},
// 	      点击已处理页面       
	    		yi:function(){
         		   axios.get("http://myzuul.com:9500/complaint/complaint/13/1/4")
         		   .then(res=>{
         			  this.complaint=res.data;
//          			  var type = res.data.type;
//          			  var name = type.name;
         			 $("#li2").css("background-color","pink");
         			 $("#li1").css("background-color","white");
         			$("#li3").css("background-color","white");
         			$("#res").html("处理结果");
         			 this.s=res.data.list[0].status.id;
         			
         		   })
         		   
         	   },
//      点击未处理页面    
         	  wei:function(){
        		   axios.get("http://myzuul.com:9500/complaint/complaint/12/1/4")
        		   .then(res=>{
        			  this.complaint=res.data;
        			  $("#li1").css("background-color","pink");
        			  $("#li2").css("background-color","white");
        			  $("#li3").css("background-color","white");
        			  $("#res").html("操作"); 	
        			  this.s=res.data.list[0].status.id;
        			  
        		   })
        	   },
//             今日订单  
        	   today:function(){
        	
        		   var now = getNowFormatDate();
        		   var tommory = getTomFormatDate();
        		   axios.get("http://myzuul.com:9500/complaint/complaint/"+now+"/"+tommory+"/1/4")
        		   .then(res=>{
        			  this.complaint=res.data;
        			  $("#li1").css("background-color","white");
        			  $("#li2").css("background-color","white");
        			  $("#li3").css("background-color","pink");
        			  $("#res").html("操作");
        			  //this.s=res.data.list[0].status.id;
        		   })
        	   },
//            受理
             shouli:function(id){
            	 axios.get("http://myzuul.com:9500/complaint/complaint/"+id)
      		   .then(res=>{
      			   console.info(res)
      			  this.mess = res.data;
      			  this.compl=res.data.o_id.carportBean;
      			  this.complaintbean1=res.data.mem_j_id;
      			  this.message1 = res.data.mem_j_id.message;
      			  this.credibility1=res.data.mem_j_id.credibility;
      			  this.complaintbean2=res.data.mem_y_id;
      			  this.message2 = res.data.mem_y_id.message;
      			  this.credibility2=res.data.mem_y_id.credibility;
      			  this.comid=res.data.id;
      			  this.sta=res.data.status.name;
      			  this.img="http://myzuul.com:8082/images/"+res.data.imgName;
      		   })
             },
//投诉成功
           success:function(){
        	   var id =this.comid;
        	   axios.put("http://myzuul.com:9500/complaint/complaint/"+id+"/"+16)
      		   .then(res=>{
      			   location.reload();
      		   })
           },
//投诉失败
           fail:function(){
        	   var id =this.comid;
        	   axios.put("http://myzuul.com:9500/complaint/complaint/"+id+"/"+17)
      		   .then(res=>{  
      			 location.reload();
      		   })
           },
	    	}
	    });
	  //获取当前时间
		 function getNowFormatDate() {
		      var date = new Date();
		      var seperator1 = "-";
		      var year = date.getFullYear();
		      var month = date.getMonth() + 1;
		      var strDate = date.getDate();
		      if (month >= 1 && month <= 9) {
		          month = "0" + month;
		      }
		      if (strDate >= 0 && strDate <= 9) {
		          strDate = "0" + strDate;
		      }
		      var currentdate = year + seperator1 + month + seperator1 + strDate;
		      return currentdate;
		  }
		//获取明日时间
		 function getTomFormatDate() {
		      var date = new Date();
		      var seperator1 = "-";
		      var year = date.getFullYear();
		      var month = date.getMonth() + 1;
		      var strDate = date.getDate()+1;
		      if (month >= 1 && month <= 9) {
		          month = "0" + month;
		      }
		      if (strDate >= 0 && strDate <= 9) {
		          strDate = "0" + strDate;
		      }
		      var currentdate = year + seperator1 + month + seperator1 + strDate;
		      return currentdate;
		  }
		
		
			
		
		
		
	</script>
</body>
</html>