<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.project.dao.CarportDao">
  <select id="findcarportbyditstatus" resultMap="onemap">
  select * from carport where  auditstatus=8
  </select>
  <select id="findcarportbydaynumber" resultType="int">
  select count(*) from carport where begintime=#{day}
  </select>
  <!-- 查询今日新增车位 -->
  <select id="findcarportdaybytime" resultMap="onemap">
  select * from carport where begintime=#{day} limit #{page},#{size}
  </select>
  <!-- 添加车位 -->
  <insert id="addcarport">
  insert into carport (address,carportnumber,coordinate_x,coordinate_y,begintime,endtime,status,imgs_id,statusimage,price,m_id,auditstatus,message,auditnumber,addtime) 
  values(#{carport.address},#{carport.carportnumber},#{carport.coordinate_x},#{carport.coordinate_y},#{carport.begintime},#{carport.endtime},11,#{carport.imgs_id.id},#{carport.statusimage},#{carport.price},#{carport.m_id.id},8,#{carport.message},#{carport.auditnumber},#{carport.addtime})
  </insert>
  <!-- 修改车位信息 -->
  <update id="updatecarport">
  update carport
  <set>
  <if test="carport.status!=null">
  status=#{carport.status.id},
  </if>
  <if test="carport.auditstatus!=null">
   auditstatus=#{carport.auditstatus.id},
  </if>
  <if test="carport.begintime!=null">
  begintime=#{carport.begintime},
  </if>
  <if test="carport.endtime!=null">
  endtime=#{carport.endtime},
  </if>
  <if test="carport.price!=null">
  price=#{carport.price}
  </if>
  </set>
  where id =#{carport.id}
  </update>
  <!-- 查询所有可出租的状态 -->
 <select id="findcarportnumber" resultType="int">
 select count(*) from carport where status=#{status}
 </select>
  <!--通过车位出租状态查询车位  -->
   <select id="findcarportbyStatus" resultMap="onemap">
  select * from carport where status=#{status} limit #{page},#{size}
  </select> 
  <!--时间范围查询  -->
  <select id="findcarportbytime" resultMap="onemap">
  select * from carport where  endtime &lt;#{time} and status=10
  </select>
  <!--经纬度范围查询  -->
  <select id="findcarportbycoordinate" resultMap="onemap">
select * from carport where sqrt(  
    (  
     ((113.914619-#{x})*PI()*12656*cos(((22.50128+#{y})/2)*PI()/180)/180)  
     *  
     ((113.914619-#{x})*PI()*12656*cos (((22.50128+#{y})/2)*PI()/180)/180)  
    )  
    +  
    (  
     ((22.50128-#{x})*PI()*12656/180)  
     *  
     ((22.50128-#{y})*PI()*12656/180)  
    )  
)&lt;10 and status=10 limit #{page},#{size}
  </select>
  <!-- 通过车位编号查询车位 -->
  <select id="findcarportbycarportnumber" resultMap="onemap">
   select *from carport where carportnumber=#{number}
  </select>
  <!--通过车位id查询车位  -->
  <select id="findcarportbycid" resultMap="onemap">
   select *from carport where id=#{cid}
  </select>
  <!--通过所属人查询车位  -->
 <!--  select *from carport c where c.m_id=(select id from member where username='root') AND  c.address LIKE '%d%' -->
  <select id="findcarportbyMID" resultMap="onemap">
      SELECT * FROM carport c
        <where>
            <!--where标签自动去掉满足条件的第一个and -->
            <if test="mid!= null and mid!= ''">
              c.m_id=(select id from member where username=#{mid})
            </if>
            <if test="address!= null and address!= ''">
                and c.address LIKE CONCAT('%',#{address},'%' )
            </if>
        </where>
  </select>
  <resultMap type="CarportBean" id="onemap">
  <id property="id" column="id" />
  <result property="address" column="address" />
  <result property="carportnumber" column="carportnumber" />
  <result property="coordinate_x" column="coordinate_x" />
  <result property="coordinate_y" column="coordinate_y" />
  <result property="begintime" column="begintime" />
  <result property="endtime" column="endtime"/>
  <result property="statusimage" column="statusimage" />
  <result property="price" column="price" />
  <result property="message" column="message" />
  <result property="auditnumber" column="auditnumber"/>
  <result property="addtime" column="addtime" />
  <association property="auditstatus" javaType="MarkBean" select="com.project.dao.Markdao.findmarkbyid" column="auditstatus" />
  <association property="status" javaType="MarkBean" select="com.project.dao.Markdao.findmarkbyid" column="status" />
  <association property="imgs_id" javaType="ImagesBean" select="com.project.dao.ImagesDao.findimagesbyid" column="imgs_id" />
  <association property="m_id" javaType="MemberBean" select="com.project.dao.IMemberDao.findById" column="m_id" />
  </resultMap>
  </mapper>