<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dao.ComplaintDao">
	<insert id="addComplaint" parameterType="ComplaintBean">
		insert into complaint(message,comtime,img,o_id,mem_j_id,mem_y_id)values(#{message},#{comtime},#{imgName},#{o_id.id},#{mem_j_id.id},#{mem_y_id.id})
	</insert>
	<update id="updateType" parameterType="int">
	    update complaint set type=#{type} where id =#{id}
	</update>
    <update id="updateComplaint" parameterType="int">
        update complaint set status=13 where id =#{id}
    </update>
    <update id="deleteComplaint" parameterType="int" >
        update complaint set status=14 where id =#{id}
    </update>
    <select id="findBymid" parameterType="int" resultMap="map">
        select * from complaint where mem_j_id = #{id}
    </select>
    <select id="findByOrder" parameterType="int" resultMap="map">
        select * from complaint where mem_j_id = #{mid} and o_id = #{oid}
    </select>
    <select id="findById" parameterType="int" resultMap="map">
        select * from complaint where id = #{id}
    </select>
    <select id="findCreNum" parameterType="int" resultType="int">
        select count(*) from complaint where mem_y_id =#{id}
    </select>
    <select id="findComNum" parameterType="int" resultType="int">
        select count(*) from complaint where status=#{status}
    </select>
    <select id="findDateNum" parameterType="String" resultType="int">
        select count(*) from complaint where comtime BETWEEN #{begintime} and #{endtime}
    </select>
    <select id="findByDate" resultMap="map">
        select * from complaint where comtime BETWEEN #{begintime} and #{endtime} LIMIT #{page},#{size}
    </select>
    <select id="findByStatus" parameterType="int" resultMap="map">
        select * from complaint where status =#{status} ORDER BY comtime DESC LIMIT #{page},#{size}
    </select>
    <resultMap id="map" type="ComplaintBean">
		<id property="id" column="id"></id>
		<result property="message" column="message"></result>
		<result property="comtime" column="comtime"></result>
		<result property="imgName" column="img"></result>
		<association property="mem_j_id" javaType="MemberBean" select="com.project.dao.IMemberDao.findById" column="mem_j_id"/>
		<association property="mem_y_id" javaType="MemberBean" select="com.project.dao.IMemberDao.findById" column="mem_y_id"/>
		<association property="o_id" javaType="OrderBean" select="com.project.dao.IOrderDao.selectOrderById" column="o_id"/>
		<association property="status" javaType="MarkBean" select="com.project.dao.Markdao.findmarkbyid" column="status"/>
		<association property="type" javaType="MarkBean" select="com.project.dao.Markdao.findmarkbyid" column="type"/>
	</resultMap>	
</mapper>