<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dao.IMemberDao">
    <select id="findById" resultMap="map">
        select * from member where id = #{id}
    </select>

    <select id="findByUserName" resultType="MemberBean">
        select * from member where username=#{username}
    </select>

    
    <resultMap id="map" type="MemberBean">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="phonenumber" column="phonenumber"/>
        <association property="message" javaType="MessageBean" select="com.project.dao.IMessageDao.findByMid" column="id"/>
        <association property="credibility" javaType="CredibilityBean" select="com.project.dao.CredibilityDao.findById" column="id" />
    </resultMap>
</mapper>