<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dao.IMessageDao">
    <select id="findByMid" resultMap="map">
        select * from message where m_id=#{id}
    </select>
    
   
    
    <resultMap id="map" type="MessageBean">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="idCard" column="idCard"/>
        <result property="address" column="address"/>
        <result property="job" column="job"/>
        <association property="gender" javaType="MarkBean" select="com.project.dao.Markdao.findmarkbyid" column="gender"/>
    </resultMap>
    
    <select id="findAll" resultMap="map1">
   		 select * from message 
    </select>
    
     <select id="findByMohu" resultMap="map1">
    	select * from message where name like "%"#{name}"%"
    </select>
    <resultMap type="MessageBean" id="map1">
    	<id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="idCard" column="idCard"/>
        <result property="address" column="address"/>
        <result property="job" column="job"/>
        <association property="gender" javaType="MarkBean" select="com.project.dao.Markdao.findmarkbyid" column="gender"/>
    	<association property="member" javaType="MemberBean" select="com.project.dao.IMemberDao.findByMemberId" column="m_id" />
    </resultMap>
    
    <update id="updateMySelf">
    	update message 
    		<set>
    			<if test="address!=null">
    				address = #{address},
    			</if>
    			<if test="job!=null">
    				job = #{job}
    			</if>
    		</set>
    		where m_id= #{m_id}
    </update>
</mapper>