<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dao.IOrderDao">
<!-- 	添加订单-->
	<insert id="insertOrder" parameterType="OrderBean" useGeneratedKeys="true" keyProperty="id">
		insert into orders(ordertime,ordernumber,status,delStatus,carport_id,mem_j_id,mem_y_id,begintime,carnumber)
		values(#{orderTime},#{orderNumber},#{statusBean.id},#{delState.id},
		#{carportBean.id},#{memberBean1.id},#{memberBean2.id},#{beginTime},#{carNumber})
	</insert>
	
	<!-- 	通过订单号查询订单 -->
	<select id="selectOrderByOrderNumber"  resultMap="map">
		select * from orders where ordernumber = #{orderNumber} and delStatus = 6
	</select>
	
	<!-- 	通过订单id查询订单 -->
	<select id="selectOrderById" parameterType="int" resultMap="map">
		select * from orders where id = #{oid} and delStatus = 6
	</select>
	<!-- 	后台通过支付状态分页查询订单 -->
	<select id="selectOrderByStatus" parameterType="int" resultMap="map">
		select * from orders where status = #{status} and delStatus = 6
		limit #{page},#{size}	
	</select>
		<!-- 	查询支付数量 -->
	<select id="selectNumberByStatus" resultType="int">
		select count(*) from orders where status = #{status} and delStatus = 6
	</select>
	
	<!-- 	通过支付状态分页查询订单 1-->
	<select id="selectOrderByState1" parameterType="int" resultMap="map">
		select * from orders where status = #{status} and mem_j_id = #{mid} and delStatus = 6
		limit #{page},#{size}	
	</select>
	<!-- 	查询支付数量 -->
	<select id="selectNumberByState1" resultType="int">
		select count(*) from orders where status = #{status} and mem_j_id = #{mid} and delStatus = 6
	</select>
	<!-- 	通过支付状态分页查询订单2 -->
	<select id="selectOrderByState2" parameterType="int" resultMap="map">
		select * from orders where status = #{status} and mem_y_id = #{mid} and delStatus = 6
		limit #{page},#{size}	
	</select>
	<!-- 	查询支付数量 -->
	<select id="selectNumberByState2" resultType="int">
		select count(*) from orders where status = #{status} and mem_y_id = #{mid} and delStatus = 6
	</select>
	
	
	<!-- 	统计订单 -->
	<select id="selectOrderByMonth"  resultType="Double">
		select price from orders where orderTime  between #{beginTime} and #{endTime} and delStatus = 6	and status = 4
	</select>
	<!-- 	统计订单 次数-->
	<select id="selectOrderCount"  resultType="int">
		select count(*) from orders where orderTime  between #{beginTime} and #{endTime} and delStatus = 6	and status = 4
	</select>
	
		<!-- 	通过日期查询订单价格-->
	<select id="selcetOrderByDate" resultType="Double">
		select price from orders where orderTime  between #{beginTime} and #{endTime} and delStatus = 6 and status = 4
	</select>
	
		<!-- 	每日新增订单数 -->
	<select id="selcetOrderNumberByDate" resultType="int">
		select count(*) from orders where orderTime  between #{beginTime} and #{endTime} and delStatus = 6 
	</select>
	
		<!-- 查询今日所有订单 -->
	<select id="selcetOrderByDay"  resultMap="map">
		select * from orders where orderTime  between #{beginTime} and #{endTime} and delStatus = 6 limit #{page},#{size}	
	</select>
	
	<select id="selectOrderNumberByMem1"  resultType="int">
		select count(*) from orders where mem_j_id = #{mid} and delStatus = 6
	</select>
	<select id="selectOrderNumberByMem2"  resultType="int">
		select count(*) from orders where mem_y_id = #{mid} and delStatus = 6
	</select>
	<!-- 	修改订单属性 -->
	<update id="updateOrderAttr" parameterType="OrderBean">
		update orders
		<set>
			<if test="alipayNumber!=null">
				alipaynumber = #{alipayNumber}
			</if>
			<if test="delState!=null">
				delStatus = #{delState.id}
			</if>
			<if test="statusBean!=null">
				status= #{statusBean.id} 
			</if>
			<if test="price!=0">
				price= #{price} 
			</if>
		</set>
		where ordernumber = #{orderNumber} 
	</update>
	<resultMap id="map" type="OrderBean">
		<id property="id" column="id"></id>
		<result property="orderTime" column="ordertime"></result>
		<result property="orderNumber" column="ordernumber"></result>
		<result property="alipayNumber" column="alipaynumber"></result>
		<result property="beginTime" column="begintime"></result>
		<result property="endTime" column="endtime"></result>
		<result property="carNumber" column="carnumber"></result>
		<result property="price" column="price"></result>
		<association property="memberBean1" javaType="MemberBean" select="com.project.dao.IMemberDao.findById" column="mem_j_id"/>
		<association property="memberBean2" javaType="MemberBean" select="com.project.dao.IMemberDao.findById" column="mem_y_id"/>
		<association property="statusBean" javaType="MarkBean" select="com.project.dao.Markdao.findmarkbyid" column="status"/>
		<association property="delState" javaType="MarkBean" select="com.project.dao.Markdao.findmarkbyid" column="delStatus"/>
		<association property="carportBean" javaType="CarportBean" select="com.project.dao.CarportDao.findcarportbycid" column="carport_id"/>	
	</resultMap>
	
</mapper>