<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
	<script src="../../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/jquery-3.4.1.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/axios.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
	mui.init()
	</script>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">订单</h1>
	</header>
	<div class="mui-content" id="app">
		<div class="mui-card" >
			<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a >
							订单号
							<span class="mui-pull-right">{{order.orderNumber}}</span>
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a >
							 车位所属人：
							 <span class="mui-pull-right" v-if="mem.message!=undefined">{{mem.message.name}}</span>
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a >
							 所属人手机号：
							 <span class="mui-pull-right">{{mem1.phonenumber}}</span>
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">
							车位地址：
							<span class="mui-pull-right" v-if="order.carportBean!=undefined">{{order.carportBean.address}}</span>
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">
							车位编号：
							<span class="mui-pull-right" v-if="order.carportBean!=undefined">{{order.carportBean.carportnumber}}</span>
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a >
							 车牌号：
							 <span class="mui-pull-right" >{{order.carNumber}}</span>
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a >
							 开始时间：
							 <span class="mui-pull-right">{{order.orderTime}}</span>
						</a>
					</li>
					
					
					
				</ul>
		</div>
		
		<div class="mui-card">
			<div class="mui-row">

				<button type="button" class="mui-col-sm-2 mui-btn mui-btn-blue " style=" margin: 0.5rem 3rem;" @click="com()">确认</button>
				<button type="button" class="mui-col-sm-2 mui-btn mui-btn-danger " style=" margin: 0.5rem 3rem;">返回</button>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
	var oid = window.location.href.split("=")[1];
	var app = new Vue({
		el:"#app",
		data:{
			order:[],
			mem:{},
			mem1:{}
		},
		created(){
			axios.get("http://myzuul.com:9500/orders/order/"+oid)
			.then(res=>{
				console.info(res)
				this.order=res.data

				this.mem=res.data.memberBean1
				this.mem1=res.data.memberBean2

			})
			.catch(res=>{
				console.info(res)
			})
		},
		methods:{
			com:function(){
				
				axios.get("http://myzuul.com:9500/orders/order/com")
				.then(res=>{
					console.info(res)
					this.order=res.data
					alert("停车成功")
					window.location.href="http://myzuul.com:8082"
					
				})
			},
		},
	})

	</script>
	
</body>
</html>