<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<style>
		.carportimgs{
			/* border: #000000 solid 0.0625rem; */
			height: 5rem;
		}
		.proveimg{
			height: 6rem;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
	<script src="../../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/jquery-3.4.1.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/mui.picker.min.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="../../css/mui.picker.min.css"/>
	<script src="../../js/layui/layui.all.js"></script>
	<script src="../../js/layui/layui.js"></script>
	<script type="text/javascript">
	mui.init({
		beforeback: function() {
			map.close();
	},
	})
	</script>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">添加车位</h1>
	</header>
	<div class="mui-content" id="app">
		<div >
			
			<div class="mui-card">
				<div class="carportimgs"></div>
				<div class="layui-upload-list" id="demo2">
    				<img :src="item" height="100%" width="33%" v-for="(item,index) in imglist" />
    			</div> 
				<div class="mui-input-row">
					<label>车位图片</label>
					<input type="file"  class="layui-btn" id="test1" @change="upimgs">
					<span style="font-size: 10px;color: red;text-align:center;">好看的图片能让你的车位更好出租哦</span>
				</div>
			</div>
			
			<div class="mui-card">
				<div class="proveimg"></div>
				<div class="layui-upload-list" id="demo3">
    				<img   :src="carimg" />
    			</div> 
				
				<div class="mui-input-row">
					<label>证件证明</label>
					<input type="file"  class="layui-btn" id="test2" @change="upimg">
				<span style="font-size: 10px;color: red;text-align:center;">请上传清晰的车位产权证明哦！不然审核可能通不过哟</span>	
				</div>
				
			</div>
			
			<div class="mui-card">
				<form class="mui-input-group">
					<div class="mui-input-row">
						<label>产权证明编号</label>
						<input type="text" v-model="carnumber" class="mui-input-clear" placeholder="请输入">
					</div>
					<div class="mui-input-row">
						<label>名字</label>
						<input type="text" v-model="memname" class="mui-input-clear" placeholder="请输入">
					</div>
					<div class="mui-input-row">
						<label>地址</label>
						<input type="text" v-model="address" class="mui-input-clear" placeholder="请输入" readonly onclick="showmap()" >
					</div>
					<div class="mui-input-row">
						<label>坐标</label>
						<input type="text" class="mui-input-clear" placeholder="请输入" readonly onclick="showmap()" :value="'x:'+jindu+'y:'+weidu">
					</div>
					<div class="mui-input-row">
						<label>开始出租时间</label>
						<input type="text" class="mui-input-clear" placeholder="请输入" readonly  @click="getbegintime" v-model="begintime">
					</div>
					<div class="mui-input-row">
						<label>结束出租时间</label>
						<input type="text" class="mui-input-clear" placeholder="请输入" placeholder="结束时间" readonly @click="getendtime" v-model="endtime">
					</div>
					<div class="mui-input-row">
						<label>价格</label>
						<input type="text" v-model="jiage" class="mui-input-clear" placeholder="请输入">
					</div>
					
				</form>
				<div class="mui-input-row">
					<label>描述</label>
					<textarea rows="5" cols="15" v-model="mess" maxlength="150" style="border: #000000 solid 0.0625rem;"></textarea>
				</div>
				
				
				
			</div>
		</div>
		<div class="mui-card">
			<div style="margin: 0.2rem 1rem;">
				注意：信息需要审核
			</div>
			<div class="mui-row">
				<button type="button" class="mui-col-sm-2 mui-btn mui-btn-blue " style=" margin: 0.5rem 3rem;" @click="sublit()">提交</button>
				<button type="button" class="mui-col-sm-2 mui-btn mui-btn-danger " style=" margin: 0.5rem 3rem;">取消</button>
			</div>
		</div>
	</div>
	<div class="mui-content mui-hidden" id="app2">
		<div id="map">
			
		</div>
		<div class="mui-row">
			<div class="mui-card">
				<ul class="mui-table-view">
						<li class="mui-table-view-cell">
							<div >
								坐标：
								<span class="mui-pull-right">x:{{x}} y:{{y}}</span>
							</div>
						</li>
						<li class="mui-table-view-cell">
							<div >
								地址：
								<span class="mui-pull-right">{{address}}</span>
							</div>
						</li>
					</ul>
			</div>
			<div class="mui-card">
				<button type="button" class="mui-col-sm-2 mui-btn mui-btn-blue " style=" margin: 0.5rem 3rem;" @click="getaddress()">提交</button>
				<button type="button" class="mui-col-sm-2 mui-btn mui-btn-danger " style=" margin: 0.5rem 3rem;" onclick="exitmap">取消</button>
			</div>
			
		</div>
	</div>
	
	<script src="../../js/axios.min.js"></script>
	<script type="text/javascript">
	
		var app2 = new Vue({
			el:"#app2",
			data:{
				x:"",
				y:"",
				address:""
			},
			methods:{
				getaddress:function(){
					app.address=this.address
					app.jindu=this.x
					app.weidu=this.y
					exitmap();
				}
			},
		})
		function showmap(){
			//隐藏正文,显示地图
			document.getElementById("app").classList.add("mui-hidden")
			document.getElementById("app2").classList.remove("mui-hidden")
			//初始化地图
			map = new plus.maps.Map("map");
			//设置显示大小
			map.setZoom(16);
			//开启用户位置显示
			map.showUserLocation(true);
			//获取用户位置信息
			map.getUserLocation( function(state, point){
				console.log(JSON.stringify(point));
				locationPos = point;
				center = new plus.maps.Point(point.longitude, point.latitude);
				//设置地图中心点
				map.setCenter(center);
				getadress(center)
			});
			var centerpoint= null
			map.onclick = function( point ){
				map.removeOverlay(centerpoint)
				centerpoint = new plus.maps.Marker(point);
				centerpoint.setIcon('http://myzuul.com:8082/img/map/map-marker-red.png');
				var bubble = new plus.maps.Bubble("目标地点");
				centerpoint.setBubble(bubble);
				map.addOverlay(centerpoint);
				console.log(JSON.stringify(point));
				getadress(point)
			}
			
		}
		function getadress(point){
			plus.maps.Map.reverseGeocode(point,{},function(event){
				var address = event.address;  // 转换后的地理位置
				var point = event.coord;  // 转换后的坐标信息
				var coordType = event.coordType;	// 转换后的坐标系类型
				console.log(JSON.stringify(event))
				app2.x=event.coord.longitude
				app2.y=event.coord.latitude
				app2.address=event.address
				//getcarport(point.longitude,point.latitude)
			},function(e){
				//报错
				alert("Failed:"+JSON.stringify(e));
			});
		}
		function exitmap(){
			document.getElementById("app2").classList.add("mui-hidden")
			document.getElementById("app").classList.remove("mui-hidden")
			if(map!=null){
				map.close()
			}
			
		}
	var map=null;
	var dtpicker;
	var app = new Vue({
		el:"#app",
		data:{
			begintime:"",//开始出租时间
			endtime:"",//结束时间
			inagenamelist:[],//车位图片名字集合
			imglist:[],//车位图片集合
	  		carimg:"",//车位产权图片
	  		carimgname:"",//车位产权图片名字
	  		carnumber:"",//车位产权编号
	  		memname:"",//车位所属人姓名
	  		address:"",//车位地址
	  		jindu:0.0,//车位经度 
	  		weidu:0.0,//车位纬度
	  		jiage:0.0,//车位价格
	  		mess:"",//车位描述
		},
		mounted() {
			dtpicker = new mui.DtPicker({
			type:'datetime',
			beginDate:new Date()

			})
			
		},created() {
			
		},
		methods:{
	  		upimgs:function(){
	  			if(this.imglist.length >=3){
	  				alert("最多上传三张图片")
	  				return
	  			}
	  			var formData = new FormData();
				 var img = $("#test1")[0].files[0];
				 formData.append("file",img);
				 console.info(formData);
				 $.ajax({
					url:"http://myzuul.com:8082/upimage",
					type: 'post',
					cache: false,
					data: formData,
					processData: false,
					contentType: false,
					success:function(mes){
						console.log("sss"+JSON.stringify(mes));
						app.imglist.push("http://myzuul.com:8082/images/"+mes);
						app.inagenamelist.push(mes);
					}
			 })
	  		},
	  		upimg:function(){
	  			var formData = new FormData();
				 var img = $("#test2")[0].files[0];
				 formData.append("file",img);
				 console.info(formData);
				 $.ajax({
					url:"http://myzuul.com:8082/upimage",
					type: 'post',
					cache: false,
					data: formData,
					processData: false,
					contentType: false,
					success:function(mes){
						console.log("sss"+JSON.stringify(mes));
						app.carimg="http://myzuul.com:8082/images/"+mes;
						app.carimgname=mes;
					}
			 })
	  		},
	  		sublit:function(){
	  			var params = new URLSearchParams();
	  			params.append("address",app.address);
	  			params.append("imgs_id.image1",app.inagenamelist[0])
	  			params.append("imgs_id.image2",app.inagenamelist[1])
	  			params.append("imgs_id.image3",app.inagenamelist[2])
	  			params.append("begintime",app.begintime)
	  			params.append("endtime",app.endtime)
	  			params.append("statusimage",app.carimgname)
	  			params.append("price",app.jiage)
	  			params.append("message",app.mess)
	  			params.append("auditnumber",app.carnumber)
	  			params.append("coordinate_x",app.jindu)
	  			params.append("coordinate_y",app.weidu)
	  			axios.post("http://myzuul.com:9500/port/carport",params)
	  			.then(res=>{
	  				alert("添加成功")
	  				location.reload();
	  			})
	  		},
			getbegintime:function(){
				dtpicker.show(function(e) { 
				    console.log(e.value); 
					app.begintime=e.value;
				})
			},
			getendtime:function(){
				dtpicker.show(function(e) { 
				    console.log(e); 
					app.endtime=e.value;
				})
			},
			
		}
	})


</script>
	<style type="text/css">
		#map {
		width: 100%;
		height: 300px;
		text-align: center;
		background: #FFFFFF;
		position: static;
	</style>
</body>
</html>