<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<style>
		.carportimgs{
			/* border: #000000 solid 0.0625rem; */
			height: 5rem;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
	<script src="../../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/jquery-3.4.1.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/mui.picker.min.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="../../css/mui.picker.min.css"/>
	<script type="text/javascript">
	mui.init()
	</script>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">修改车位</h1>
	</header>
	<div class="mui-content" id="app">
		<div >
			
			<div class="mui-card">
				<div class="mui-input-row">
					<label>开始出租时间</label>
					<input type="text" class="mui-input-clear" placeholder="请输入" readonly  @click="getbegintime" v-model="begintime">
				</div>
				<div class="mui-input-row">
					<label>结束出租时间</label>
					<input type="text" class="mui-input-clear" placeholder="请输入" placeholder="结束时间" readonly @click="getendtime" v-model="endtime">
				</div>
				
			</div>
			
			
			
		</div>
		<div class="mui-card">
			<div style="margin: 0.2rem 1rem;">
				注意：修改信息需要重新审核
			</div>
			<div class="mui-row">
				<button type="button" class="mui-col-sm-2 mui-btn mui-btn-blue " @click="tijiao" style=" margin: 0.5rem 3rem;">提交</button>
				<button type="button" class="mui-col-sm-2 mui-btn mui-btn-blue " style=" margin: 0.5rem 3rem;" @click="fh">取消</button>
			</div>
		</div>
	</div>
	<script src="../../js/axios.min.js"></script>
	<script type="text/javascript">
	search=window.location.search.replace("\?","").split("&");
	var urldata = {};
	for (var i = 0; i < search.length; i++) {
		urldata[search[i].split("=")[0]] = search[i].split("=")[1]
	}
	
		var dtpicker;
		var app = new Vue({
			el:"#app",
			data:{
				begintime:"",//开始出租时间
				endtime:"",//结束时间
				switch1:false,
			},
			mounted() {
				dtpicker = new mui.DtPicker({
				type:'datetime',
				beginDate:new Date()
				})
				
			},created() {
				
			},
			methods:{
				fh:function(){
					window.history.go()
				},
				tijiao:function(){
					var params=new URLSearchParams()
					params.append("id",urldata.id)
					params.append("begintime",app.begintime)
					params.append("endtime",app.endtime)
					
					axios.post("http://myzuul.com:9500/port/carport/updatastatus/cz",params)
					.then(res=>{
					window.history.go()
					})
				},
				getbegintime:function(){
					dtpicker.show(function(e) { 
					    console.log(e.value); 
						app.begintime=e.value;
					})
				},
				getendtime:function(){
					dtpicker.show(function(e) { 
					    console.log(e); 
						app.endtime=e.value;
					})
				},
				
			}
		})
	</script>
</body>
</html>