<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>车位信息</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<style type="text/css">
		.mui-slider img{
			border-radius:3px;
			height: 200px;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="../../css/mui.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/mui.picker.min.css"/>
	<script src="../../js/mui.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/jquery-3.4.1.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/mui.picker.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
	mui.init()
	</script>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">车位信息</h1>
	</header>
	
	
	<div class="mui-content" id="app">
		<div class="mui-card">
				<div id="slider" class="mui-slider" >
		  <div class="mui-slider-group mui-slider-loop">
			<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
			<div class="mui-slider-item mui-slider-item-duplicate">
			  <a href="#">
				<img :src="imagesname[0]">
			  </a>
			</div>
			<!-- 第一张 -->
			<div class="mui-slider-item">
			  <a href="#">
				<img :src="imagesname[0]">
			  </a>
			</div>
			<!-- 第二张 -->
			<div class="mui-slider-item">
			  <a href="#">
				<img :src="imagesname[1]">
			  </a>
			</div>
			<!-- <!-- 第三张 -->
			<!-- <div class="mui-slider-item">
			  <a href="#">
				<img :src="imagesname[2]">
			  </a>
			</div>  -->
			<!-- 第四张 -->
			<!-- <div class="mui-slider-item">
			  <a href="#">
				<img src="../../img/1-4.png">
			  </a>
			</div>  -->
			<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
			<div class="mui-slider-item mui-slider-item-duplicate">
			  <a href="#">
				<img :src="imagesname[2]">
			  </a>
			</div>
		  </div>
		  
		  <ul class="mui-table-view">
		  		<li class="mui-table-view-cell">
		  			<a >
		  				
		  			</a>
		  		</li>
		  		<li class="mui-table-view-cell">
		  			<a >
		  				 地址：
						 <span class="mui-icon mui-icon-location"></span>
						 {{carport.address}}
		  			</a>
		  		</li>
		  		<li class="mui-table-view-cell">
		  			<a >
		  				 开始出租时间： {{carport.begintime}}
		  			<a >
		  				 结束出租时间：{{carport.endtime}}
		  			</a>
		  		</li>
				
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right mui-row" href="../user/othermessage.html">
						<div class="mui-col-sm-6">
							 出租者：{{username}}
						</div>
						<div class="mui-col-sm-4"style="margin-left: 3rem;">
							信誉度：{{xyd}}%
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right mui-row" href="../user/othermessage.html">
						<div class="mui-col-sm-6">
							 价格：{{carport.price}}元/小时
						</div>
						<div class="mui-col-sm-4"style="margin-left: 3rem;">
							车位编号：{{carport.carportnumber}}
						</div>
					</a>
				</li>
				
		  	</ul>
		</div>
			
		
		
			
		</div>
		<!-- 名字 -->
		<!-- 地址 -->
		<!-- 可住时间 -->
		<!-- 店家 -->
		<!-- 描述信息 -->
		
		
		
			<!-- <div class="mui-card">
			
				<div class="mui-input-row" >
					<label>租车位时间：</label>
					<input type="text" placeholder="开始时间" readonly  @click="getbegintime" v-model="begintime">
					<input type="text" placeholder="结束时间" readonly @click="getendtime" v-model="endtime">
				</div>
			
		</div> -->
		<div class="mui-card">
			<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a >
							车位信息：<br>
							{{carport.message}}
						</a>
					</li>
					
				</ul>
		</div>
	<div class="mui-bar-tab">
		
	</div>
	</div>
	
	<nav class="mui-bar mui-bar-tab" >
		<a class="mui-tab-item " href="javascript:void(0)">
			<div style="margin-bottom: 1rem;">
				<button type="button" @click="addorder()" class="mui-btn mui-btn-danger">停车</button>
			</div>
			
		</a>
		<!-- <a class="mui-tab-item" >
			
			<div style="margin-bottom: 1rem;">
				
				
				<button type="button" class="mui-btn ">加入购物车</button>
			</div>
			
		</a> -->
		
	</nav>
	
		<script src="../../js/axios.min.js"></script>
	<script type="text/javascript">
	search=window.location.search.replace("\?","").split("&");
	var urldata = {};
	for (var i = 0; i < search.length; i++) {
		urldata[search[i].split("=")[0]] = search[i].split("=")[1]
	}

		var dtpicker;
		var app = new Vue({
			el:"#app",
			data:{
				begintime:"",
				endtime:"",
				xyd:0.0,
				imagesname:[],
				username:"",
				carport:{},
			},
			mounted() {
				mui('body').on('tap','a',function(){
				       window.top.location.href=this.href;
				});
				dtpicker = new mui.DtPicker({
				type:'datetime',
				beginDate:new Date(this.carport.begintime),
				endDate:new Date(this.carport.endtime)
				})
				var gallery = mui('.mui-slider');
				gallery.slider({
				  interval:1000//自动轮播周期，若为0则不自动播放，默认为0；
				});
				
			},
			created() {
				axios.get("http://myzuul.com:9500/port/carport/cid/"+urldata.id+"")
				.then(res=>{
					console.info(res.data)
					this.xyd=(res.data.m_id.credibility.credibility)*100
					this.username=res.data.m_id.username
					this.carport=res.data
					this.imagesname.push("http://192.168.3.152:8081/images/"+res.data.imgs_id.image1)
					this.imagesname.push("http://192.168.3.152:8081/images/"+res.data.imgs_id.image2)
					this.imagesname.push("http://192.168.3.152:8081/images/"+res.data.imgs_id.image3)
				})
				.catch(res=>{
					console.info(res.data)
				})
			},
			methods:{
				getcar:function(){
					
				},
			}
		})
	


		
		alert(window.location.search)
	</script>
</body>
</html>