<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>添加车辆</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
	<script src="../../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/jquery-3.4.1.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
	mui.init()
	</script>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">添加车辆</h1>
	</header>
	<div class="mui-content" id="zxc">
		<div class="mui-card">
			<form class="mui-input-group">
				<div class="mui-input-row">
					<label>车辆型号</label>
					<input type="text" class="mui-input-clear" placeholder="请输入"  v-model="carname">
				</div>
				<div class="mui-input-row">
					<label>车牌号</label>
					<input type="text" class="mui-input-clear" placeholder="请输入" v-model="carnumber">
				</div>
			</form>
		</div>
		<div class="mui-card">
			<div style="margin: 0.2rem 1rem;">
			</div>
			<div class="mui-row">
				<button type="button" class="mui-col-sm-6 mui-btn mui-btn-blue " @click="tijiao" style=" margin: 0.5rem 3rem;">提交</button>
				<button type="button" class="mui-col-sm-6 mui-btn mui-btn-danger " onclick="javascript:history.back(-1);" style=" margin: 0.5rem 3rem;">取消</button>
			</div>
		</div>
	</div>
	<script src="../../js/axios.min.js" type="text/javascript" charset="utf-8"></script>
	<script>
	var zxc =new Vue({
		el:"#zxc",
		data:{
			carname:"",
			carnumber:"",
		},
		methods:{
			tijiao:function(){
				var params=new  URLSearchParams();
				params.append("carnumber",zxc.carnumber)
				params.append("name",zxc.carname)
				axios.post("http://myzuul.com:9500/port/car/add",params)
				.then(res=>{
					alert("添加成功")
					window.history.go(-1);
				})
				
			},
			
		},
	})
	</script>
</body>
</html>