server:
  port: 8088
  
spring: 
   application: 
    name: sharePark-http
   redis: 
    database: 0 #连接数据库
    host: 106.52.25.168 #主机名称
    port: 6379 #端口号
    password: 
    lettuce:
      pool:
        max-active: 10 #最大连接数
        max-wait: -1 #连接等待时间
        min-idle: 0 #最小连接数