server:
  port: 9500

spring: 
   application: 
    name: sharePark-zuul
   redis: 
    database: 0 #连接数据库
    host: 106.52.25.168 #主机名称
    port: 6379 #端口号
    password: 
    lettuce:
      pool:
        max-active: 10 #最大连接数
        max-wait: -1 #连接等待时间
        min-idle: 0 #最小连接数

eureka:
  client: #客户端注册进eureka服务列表内
    service-url: 
       defaultZone: http://eurakeserver9000.com:9000/eureka/
#       defaultZone: http://192.168.3.166:9000/eureka/
       
  instance: 
    instance-id: sharePark-zuul-9500 # 配置注册中心显示出来的微服务名称
    prefer-ip-address: true     #访问路径可以显示IP地址  
    
#zuul
zuul:
  #ignored-services: woniucloud-provider    #设置不暴露微服务的名称
  ignored-services: "*"
  routes:   
    order: #路由的名称，这个名字可以自己写
      service-id: park-order
      path: /orders/**      # 如果通过路由来访问，可以根据微服务的名字来访问，也可以直接访问资源
      sensitiveHeaders: "*"
    complaint: 
      service-id: park-complaint
      path: /complaint/**
      sensitiveHeaders: "*"
    user:
      service-id: park-user
      path: /user/**
      sensitiveHeaders: "*"
    member:
      service-id: park-member
      path: /**
      sensitiveHeaders: "*"
      
    carport:
      service-id: SHAREPARKING_CARPORT
      path:  /port/** 
      sensitiveHeaders: "*"
      
#  host:
#    connect-timeout-millis: 60000 
#    socket-timeout-millis: 60000
#    connection-request-timeout-millis: 60000
#
#ribbon: 
#  ReadTimeout: 120000  #请求处理的超时时间  
#  ConnectTimeout: 30000  #请求连接的超时时间
  

 

info: #监控信息 
  app.name: sharePark-zuul-9500 
  company.name: sharePark-zuul-9500 
  build.artifactId: $project.artifactId$
  build.version: $project.version$

hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 12000
ribbon:
  ReadTimeout: 12000
  ConnectTimeout: 12000
  eureka:
     enabled: true

  host:
    socket-timeout-millis: 12000
    connect-timeout-millis: 12000
